
<%= render 'home/menu' %>

<div class="container" style="margin-top: 57px">

  <div class="row">
    <div class="col-sm-4" style="background: #eee">
      <div class="tex">
        <p>Play this game and develop your intellect. 
          Here you can find quiz questions that interest you
        </p>
        

      </div>
    </div>
    <div class="col-sm-8" >
      <img src="assets/IQ.png" class="main_image" style="">
    </div>
  </div>
</div>

<%= render 'home/login' %>
<%= render 'home/sign' %>

<div class="foot fixed-bottom" id="foo"></div>


